# Ignore everything on scratch by default, except the provided examples
/*
!/yeongym
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt
!yeongym.cc
!yeongym-proxy.py
!yeongym_agent.py